body{
    background-color: azure;
    margin: 0%;
    padding: 0%;
    text-align: -webkit-center;
}
.container{
    border:none;
    width: 500px;
    height: 500px;
    margin: 200px;
}
#input{
    border: 1px solid green;
    border-radius: 3px;
    padding: 5px;
    margin: 8px;
    font-size: large;
} 
#btn{
    font-size: large;
    cursor: pointer;
    border-radius: 3px;
}